body {
    background-color: #efebda;
    font-family: 'Lexend', sans-serif;
}

h2{
    color: #151c36;
}

#header {
    /*background-color: #7de1ee;*/
    background-color: #82a4b3;
}

#logo-container {
    float: left;
}

#logo {
    height: 4.1em; 
    width: 9.4em;
    padding: 0.2em 1em 0.2em 0.5em;
}

/*
#logo-container {
    border: solid 1px black;
}


#navbar {
    border: solid 1px black;
    height: 4.3em;
}

/*
#breadcrumb {
    border: solid 1px white;
}
*/

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    padding: 1.5em 0.7em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    /*border: solid 1px black;*/
}

#navbar li .active {
    color: white;
}

#navbar li a {
    display: block;
    text-align: center;
    /*padding: 0 0.875em ;*/
    padding: 0 0.6em;
    /*border: solid 1px black;*/
    text-decoration: none;
    color: #151c36;
}

#navbar li a:hover {
    color: white;
}

#navigation li {
    float: left;
}

#user li {
    float: right;
}

#breadcrumb{
    clear: both;
    background-color: #efebda;
    padding-top: 0.1em;
}

#breadcrumb p {
    color: #151c36;
    font-weight: 500;
}

/*****************************************************************HOME*****************************************************************/


#img-banner {
    display: block;
    /*width: 1400px;
    height: 574px;*/
    width: 100%;
    height: auto;
    /*margin-left: auto;
    margin-right: auto;*/
}

#content-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}

#content-header h2{
    color: #151c36;
}

/************************************************************INFO.HTML STYLE************************************************************/

#info-contatti h1, h2 {
    text-transform: uppercase;
}

#come-arrivare h1, h2 {
    text-transform: uppercase;
}

#come-arrivare ul {
    margin: 1em;
    padding: 0;
}

/*********************************************************FORM DI REGISTRAZIONE*********************************************************/

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #82a4b3;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #FFFF;
  text-align: center;
}

/*****************************************************************PISTE*****************************************************************/
